<div class="row">
    <div class="col-xs-12">
        <section>
            <hr class="border bg-danger p-1">
            <div class="form-group">
                <label for="serverName">Server Name</label>
                <input type="text" [(ngModel)]="serverName" id="serverName">
            </div>
            <button class="btn btn-primary btn-sm" [disabled]="!serverName.length" (click)="onCreateNewServer()">
                Add New Server
            </button>
            <app-server *ngFor="let server of servers">{{server}}</app-server>
        </section>
        <section>
            <hr class="border bg-danger p-1">
            <button class="btn btn-primary btn-sm" (click)="onToggleDisplayDetailsCheck()">
                Display Details
            </button>
            <!-- <p *ngIf="displayDetailsCheck">Display details paragraph.</p> -->
            <h4>Display Log</h4>
            <p *ngFor="let log of displayDetailsToggleLog; let i = index" [ngStyle]="{backgroundColor: getLogBackgroundColor(i)}" [ngClass]="{'text-success': (i >= 5)}">{{log}}</p>
        </section>
    </div>
</div>