<app-header (pageSelected)="onPageSelected($event)"></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="activePageName == 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="activePageName == 'shopping-list'"></app-shopping-list>
    </div>
  </div>
</div>

<!-- <app-assignment1></app-assignment1> -->
<!-- <app-assignment2></app-assignment2> -->

<!-- <p appBasicHighlight>Style with basic directive!</p> -->
<!-- <p appBetterHighlight>Style with better directive!</p> -->
<!-- <p appBetterHighlight [defaultColor]="'pink'" [highlightColor]="'blue'">Style with better directive2!</p> -->
<!-- <p [appBetterHighlight]="'blue'" [defaultColor]="'pink'">Style with better directive2!</p> -->

<!-- <p>Video / Lession No: 138</p> -->